.pic-moln {
    width: 100%;
}

.moln {
    position: relative;
  text-align: center;
  color: white;
}

.h-moln {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(56,56,56);

}

.p-moln {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(56,56,56);
  padding-top: 15rem;
  
}
