header {
   position: relative;
}

#header-top {
    position: absolute;
    top: 10%;
    left: 45%;
}


#img-top {
    width: 110%; //gör bild större än sidan
    position: relative;
    left: -50px; //flyttarbilden lite ut på vänstra kanten
    top: 10;
}

/*rubrik*/

.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    margin-bottom: 10rem;
    margin-top: -1rem;

}

#header-right {
 margin-left: 10rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.header-p {
    font-size: 22px;
    padding-top: 50px;
}