@media (max-width: 800px) {
    #header-top {
        font-size: 1.5rem;
        margin-top: -1rem; 
    }

    #header-right {
        font-size: 2.5rem;
    }


    .header-p  {
        font-size: 1.2rem;
    }
    .container-1 {
        margin-top: -7rem;
        display: flex;
        display: column;
        justify-content: center;
        height: 60rem;
        padding-bottom: -1rem;
        margin-bottom: -5%;
    }
.text1 {
    width: 80vw;
    margin-left: 0;
    
}
        
 .h-1 {
    font-size: 1.2rem;
}

    .c-1 {
    font-size: 1rem;
}

#phone1-right {
    width: 350px;
    margin-top: 0.2rem;
}

video {
    width: 95vw;
}

.container-2 {
    display: flex;
    display: column;
    justify-content: center;
    height: 51rem;
    
}

.text2 {
width: 80vw;
padding-top: -10rem;

}
#phone2-left {
    width: 350px;
    height: 500px;
    margin-bottom: -12rem;
    

}

.c-2 {
    font-size: 1rem;
    text-align: left;


}

.text3 {
    margin-top: -15%;
 }

.c-4 {
    font-size: 1rem;
}

.h-moln {
    font-size: 2rem;
    padding-bottom: 3rem;
}

.p-moln {
    padding-bottom: 20%;
    width: 80vw;
}

}


@media (max-width: 500px) {
    
    p {
        font-size: 0.8rem;
    }
    #header-top {
        font-size: 1rem;
        margin-top: -1rem; 
    }

    #img-top {
        width: 110vw;
        left: -10px;
    }
    .intro-right {
        width: 80vw;
        margin-left: 2.5rem; 
   
    }

    #header-right {
        font-size: 1.6rem;
        margin-left: 5rem;
        margin-bottom: -1.5rem;
    }
    
        .header-p  {
        font-size: 1rem;
    }
    
.container-1 {
        margin-top: -7rem;
        display: flex;
        display: column;
        justify-content: center;
        height: 60rem;
        padding-bottom: -1rem;
    }
.text1 {
    width: 80vw;
    margin-left: 0;
    
}

    .h-1 {
    font-size: 1.2rem;
}

    .c-1 {
    font-size: 0.8rem;
}

#phone1-right {
    width: 300px;
    margin-top: 0.2rem;
}
.grey-box {
    height: 500px;
}
video {
    width: 95vw;
}
.container-2 {
        display: flex;
        display: column;
        justify-content: center;
        height: 51rem;
        padding-bottom: -12rem;
}

.text2 {
    width: 80vw;
    padding-top: -10rem;
    
}
    #phone2-left {
        width: 300px;
        height: 500px;
        margin-bottom: -12rem;
        

    }

    .c-2 {
        font-size: 0.8rem;
        text-align: left;
    
    
    }
 
    .text3 {
       margin-top: -22%;
    }

    .c-4 {
        font-size: 0.8rem;
    }

.pic-moln {
       width: 100%;
       height: 300px;
   }

.h-moln {
       font-size: 1.8rem;
       padding-bottom: 3.5rem;
   }

.p-moln {
       padding-bottom: 4rem;
       width: 90vw;
   }

.footer-header {
    font-size: 1rem;
}

}