
main {
    color: rgb(56,56,56);
}

/* header */
header {
   position: relative;
}

#header-top {
    position: absolute;
    top: 10%;
    left: 45%;
    border: 1px solid red;
}


#img-top {
    width: 110%;
}
img {
    top: 10;
    position: relative;
    
   
}

/*rubrik*/

.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;

    margin-bottom: 10rem;
    margin-top: -1rem;
    border: 1px solid red;
}

#header-right {
 margin-left: 10rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.header-p {
    font-size: 22px;
    padding-top: 50px;
}

/*container-1*/
.container-1 {
    display: flex;
    margin-bottom: 5%;
border: 1px solid red; 
flex-wrap: wrap;

}



#phone1-right {
    align-self: flex-start;
    order:2;
    margin-top: -150px;
    width: 580px;
    border: 1px solid red;
    padding: -5rem;

}

.header-text1 {
    margin-left: 15%;
width: 40vw;
}

.h-1 {
    
    font-size: 1.9rem;
}


.c-1 {
    align-self: flex-start;
    border: 1px solid red;
    font-size: 1.1rem;
}

.grey-box {
    background-color:rgb(53, 53, 58);
    height: 30rem;
    width: 100%;
    

}

 /* container-2*/
.container-2 {
    
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    order: 1;
    
}

#phone2-left {
    
    margin-top: -2rem;
    width: 580px;
    border: 1px solid red;
    
} 



 .header-text2 {
    
    width: 40vw;
    
 }

.c-2 {
    align-self: flex-end;
    border: 1px solid red;
    font-size: 1.1rem;
    
}

#p-margin {
    margin-top: 7rem;
}

.header-bottom {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border: 1px solid red;
    font-size: 1.1rem;
}

.pic-moln {
    width: 100%;
}

.moln {
    position: relative;
  text-align: center;
  color: white;
}

.h-moln {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(56,56,56);
  
}

.p-moln {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(56,56,56);
  padding-top: 15rem; 
}


@media screen and (max-width: 600px) {
    .h-moln {
      font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .p-moln {
      font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    .pic-moln {
      height: 220px;
    }
}

/*
.footer-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.footer-left {
    width: 20vw;
}

.footer-right {
    align-self: flex-end;
    width: 20vw;
    text-align: right;
} */

footer {
    background-color:rgb(53, 53, 58);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100vw;
    height: 300px;
    
    border: 1px solid red;
}


.footer-left {
    position: absolute;
    left: 200px;
}

.footer-right {
    position: absolute;
    right: 200px;
    text-align: right; 
}

@media (max-width: 500px) {
    
    #header-top {
        font-size: 1rem;
        margin-top: -1rem; 
    }

    #img-top {
        width: 400px;
        height: 300px;
    }
    .intro-right {
        width: 80vw;
        margin-left: 3rem; 

   
    }
    
.container-1 {
        margin-top: -7rem;
        display: flex;
        display: column;
        justify-content: center;
        height: 75rem;
        padding-bottom: -1rem;
    }
.header-text1 {
    width: 80vw;
    
}

    #header-right {
    font-size: 2rem;
}

    .header-p  {
    font-size: 1.2rem;
}

    .h-1 {
    font-size: 1.2rem;
}

    .c-1 {
    font-size: 1rem;
}

#phone1-right {
    width: 300px;
    margin-top: 1rem;
}

.container-2 {
        display: flex;
        display: column;
        justify-content: center;
        height: 75rem;
}

.header-text2 {
    width: 80vw;
    
}

    #phone2-left {
        width: 300px;
    }
 
    .header-bottom {
        width: 80vw;
    }
}

